<% include _header %>

<%if(contents.length>0){%>
    <%var i = 0;%>
    <%contents.forEach(function(item){%>
    <%i++;%>
    <tr>
        <td class="number"><%=i%></td>
        <td class="title"><a href="/boards/view?id=<%=item._id%>"><%=item.title%></a></td>
        <td class="writer"><%=item.writer%></td>
        <td class="date"><%=dateFormatChange(item.date)%></td>
        <td class="cnt"><%=item.count%></td>
    </tr>
    <%})%>
    <%} else {%>
    <tr>
        <td colspan="5">게시물이 없습니다.</td>
    </tr>
<%}%>

<% include _footer %>